<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../views/partials/head %>
</head>

<body>
    <% include ../views/partials/header %>
        <center>
            <h1>
                EL Sistema Unico de Matricula le da la Bienvenida!
            </h1>
        </center>

</body>
<footer>
    <% include ../views/partials/footer %>
</footer>

</html>